<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel='stylesheet' href='lib/bootstrap/dist/css/bootstrap.css' />
  <link rel='stylesheet' href='lib/angular-material/angular-material.css' />
  <link rel='stylesheet' href='stylesheets/style.css' />

  <script src="lib/jquery/dist/jquery.js"></script>
  <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="lib/angular-aria/angular-aria.js"></script>
  <script src="lib/angular-animate/angular-animate.js"></script>
  <script src="lib/angular-messages/angular-messages.js"></script>
  <script src="lib/angular-material/angular-material.js"></script>

  <script src="javascripts/angularServices.js"></script>
  <script src="javascripts/angularRoutes.js"></script>
  <script src="javascripts/angularControllers.js"></script>
  <script src="javascripts/angularApp.js"></script>
</head>
<body ng-app="angularApp">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Settings">
        <md-icon md-svg-icon="images/icons/menu.svg"></md-icon>
      </md-button>
      <h2>
        <span><%= title %></span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="More">
        <md-icon md-svg-icon="images/icons/more_vert.svg"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <div layout="column" layout-margin>
      <div ui-view></div>
  </div>

  <div layout="row" layout-align="end end" layout-margin>
    <md-fab-speed-dial id="my-speed-dial">
    <md-button class="md-fab md-primary" aria-label="Add Contact">
      <md-icon md-svg-src="images/icons/add_person.svg"></md-icon>
    </md-button>
    </md-fab-speed-dial>
  </div>

</body>
</html>
